---
layout: default
title: Portfolio
---

<div id="container" class="container">
        <ul id="scene" class="scene">
            <li class="layer" data-depth="1.00"><img src="../images/home.jpg"></li>
			
            <li class="layer" data-depth="0.30">
                <div class="list-group">
                    
                  {% for post in site.posts %}
                    <a href="{{ post.content }}" class="list-group-item">{{ post.title }}</a>
                  {% endfor %}
                    
                </div>
            </li>
            
		</ul>
</div>



<section>
    
    {% for post in site.posts %}
    <h3>{{ post.title }}</h3>
    {{ post.content }}
    {% endfor %}

</section>